/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
}

html {scroll-behavior: smooth;}

.background-gray {
  background-color: #F1F1F1;
}

.background-darkgray {
  background-color: rgba(0, 0, 0, 0.8);
}

/* ////////////
///NAVBAR///
//////////// */

.navbar {
  width: 100vw;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s ease-in-out;
  z-index: 10;
  background-color: #fff;
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1180px;
}

.navbar_name {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.25em;
  text-decoration: none;
}

.navbar_name > span {
  color: rgba(0, 0, 0, 0.6);
}

.navbar_list {
  display: flex;
  list-style: none;
}

.navbar_link {
  font-size: 14px;
  text-decoration: none;
  letter-spacing: .125em;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.navbar_list-item:nth-child(n + 2) {
  margin-left: 21px;
}

.navbar_list-item:hover {
  border-bottom: 2px solid #FDB827;
  transition: 0.3s ease-in-out;
}

.navbar_list-item {
  list-style: none;
}

.navbar_toggle-button {
  background-color: #FDB827;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* ////////////
ABOUT INTRO
//////////// */

.about-intro {
  width: 100vw;
  height: 100vh;
  background-image: url(./img/hide-obara-z6lvPG4Oj4c-unsplash.jpg);
  background-size: cover;
  background-position-y: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-intro_overlay {
  background-color: #1a1f27;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.about-intro-content {
  margin-top: 40px;
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}

.about-intro-content > h4 {
  margin-bottom: 25px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.about-intro-content > h1 {
  margin-bottom: 25px;
  font-size: 72px;
  font-weight: bold;
  color:#fff;
}

.about-intro-content > p {
  margin: 35px 40px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
  color: rgba(255, 255, 255, 0.6);
}

.about-intro-button {
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ghost {
  color: #FDB827;
  border: 2px solid #FDB827;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.125em;
}

.btn-ghost:hover {
  opacity: 1;
}

.about-intro_social-link {
  display: flex;
  justify-content: center;
}

.btn-social {
  color: #FDB827;
  padding: 10px;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.btn-social:hover {
  opacity: 1;
}

.about-me_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.about-me_icon {
  display: flex;
  align-items: center;
  height: 55px;
}

.about-me_line {
  width: 2px;
  height: 40px;
  margin: 10px auto;
  background-color: #FDB827;
}

.about-me_heading {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 500;
  text-align: center;
}

.about-me_paragraph {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 90%;
  max-width: 400px;
  line-height: 1.5rem;
}

.about-me_tabs {
  width: 90%;
  max-width: 1100px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me_social-link {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* Tab style */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
  width: 100%;
  border-radius: 0.5em;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bolder;
}

.tab button:hover {
  background-color: #FFCE76;
  color: #fff;
}

.tab button.active {
  background-color: #FDB827;
  color: #fff;
}

.all-tabs {
  text-align: center;
  margin-top: 48px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.tabcontent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 700px;
}

.about-tab_heading {
  margin: 10px auto;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #000;
}

.about-tab_heading-title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.about-tab_paragraph {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 90%;
  margin: 25px auto 45px auto;
  color: #1a1f27;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75;
  max-width: 800px;
}

.resume-btn {
  color: #FDB827;
  border: 2px solid #FDB827;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.125em;
}

.resume-btn:hover {
  background-color: #FDB827;
  color: #fff;
}

/* SKILLS */

.skills-tab_group-content:first-of-type {
  border-top: 1px solid #ccc;
}

.skills-tab_group-content {
  width: 80%;
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.skills-tab_group-content > h4 {
  font-size: 18px;
}

.skills-tab_group-content-skills {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.skills-tab_group-content-skills > p {
  border: 1px solid #000;
  border-radius: 13px;
  padding: 2px 10px;
  margin-right: 8px;
  font-family: 'Montserrat', sans-serif;
}

/* EXPERIENCE */

.experience-tab_group:first-of-type {
  border-top: 1px solid #ccc;
}

.experience-tab_group {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.experience-tab_group-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.experience-tab_group-content > h4 {
  font-size: 18px;
}

.experience-tab_group-content_paragraph {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000;
}

.experience-tab_group-content_paragraph > span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.my-work {
  width: 100vw;
  height: auto;
  padding-bottom: 60px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  max-width: 1180px;
  gap: 60px;
  margin: 0 auto 60px auto;
}

.portfolio-card {
  width: 100%;
  height: 175px;
  border-radius: 1em;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

/* Modals */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 850px;
  width: 80%;
  height: 85%;
  border-radius: 1em;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  margin: 30px auto;
  border-bottom: 1px solid #ccc;
}

.modal-header-content > h3 {
  font-size: 24px;
  font-weight: 700;
}

.modal-header-content > p {
  font-size: 16px;
  margin: 15px 0;
  font-family: 'Montserrat', sans-serif;
}

.openBtn {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.openBtn:hover {
  background-color: #FDB827;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 15px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.closeBtn:hover {
  transform: scale(1.1);
}

.modal-body {
  display: flex;
  justify-content: space-between;
}

.modal-body-content {
  max-width: 35%;
  font-family: 'Montserrat', sans-serif;
  margin-left: 70px;
}

.modal-body-content > h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.modal-body-content > p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.5rem;
  margin-bottom: 20px ;
}

.modal-body-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.btn-github{
  color: #FDB827;
  border: 2px solid #FDB827;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.125em;
  background-color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}

.btn-github:hover {
  background-color: #FDB827;
  color: #fff;
}

.btn-github:hover .fa-brands.fa-github {
  color: #fff;
}

.modal-body_tech-used {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 30px;
  left: 70px;
  max-width: 40%;
}

.modal-body_tech-used > h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.modal-body_tech-used-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-body_tech-used-skills > p {
  border: 1px solid #000;
  border-radius: 13px;
  padding: 2px 10px;
  margin-right: 8px;
  font-size: 12px;
}

/* MODAL SLIDESHOW */

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin-inline: 40px;
  min-height: 450px;
}

/* Hide the images by default */
.mySlides1, .mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FDB827;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: rgba(0, 0, 0, 0.75);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 90px;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #444444;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Styles for viewports with width less than 600px (Mobile) */
@media (max-width: 599px) {
  .about-intro-content > h1 {
    font-size: 60px;
  }

  /* Dialog backdrop */
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }

  /* Modal */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    border-radius: 1em;
    /* Adjust min-width for smaller screens */
    min-width: 300px;
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: 30px auto;
    border-bottom: 1px solid #ccc;
  }

  /* Adjust font sizes and margins for smaller screens */
  .modal-header-content > h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .modal-header-content > p {
    font-size: 14px;
    margin: 10px 0;
  }

  .openBtn {
    font-size: 16px;
    /* Other styles as needed */
  }

  .modal-body {
    /* Adjust layout for smaller screens */
    display: block;
  }

  .modal {
    /* Adjust min-width for smaller screens */
    min-width: 250px;
  }

  .modal-body-content {
    /* Adjust max-width and margin for smaller screens */
    max-width: 90%;
    margin: 0 auto;
  }

  .modal-body-content > h4 {
    /* Adjust font-size and margins for smaller screens */
    font-size: 18px;
    margin-bottom: 8px;
  }

  .modal-body-content > p {
    /* Adjust font-size, line-height, and margins for smaller screens */
    font-size: 12px;
    line-height: 1.4rem;
    margin-bottom: 10px;
  }

  .modal-body-graphic {
    /* Adjust width for smaller screens */
    width: 100%;
  }

  .btn-github {
    /* Adjust font-size and padding for smaller screens */
    font-size: 16px;
    padding: 8px 18px;
  }

  .modal-body_tech-used {
    /* Adjust max-width and margin for smaller screens */
    max-width: 100%;
    margin: 20px auto;
    position: relative;
    bottom: 0;
    left: 0;

  }

  .modal-body_tech-used > h4 {
    /* Adjust font-size and margins for smaller screens */
    font-size: 18px;
    margin-bottom: 8px;
  }

  .slideshow-container {
    min-height: 350px;
  }

  .portfolio-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
    width: 50%;
    gap: 50px;
  }
  /* The rest of the styles remain the same */

}


/* CONTACT ME */

.contact-me_heading {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.contact-me_paragraph {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  width: 90%;
  max-width: 400px;
  line-height: 1.5rem;
}

.contact-me-form {
  width: 90%;
  max-width: 625px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

.contact-me-form_group {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contact-me-form_group > label {
  padding-bottom: 15px;
}

.contact-me-form_group > input {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 16px;
  height: 50px;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
}

.contact-me-form_group > textarea {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 16px;
  height: 200px;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 5px;
}

.contact-me-form_group > button {
  margin-top: 30px;
}

.submit-btn {
  background-color: #FDB827;
  color: #fff;
  border: 2px solid #FDB827;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.125em;
  cursor: pointer;
  margin: 0 auto;
}

.submit-btn:hover {
  opacity: 0.8;
}

/* FOOTER */
.footer {
  font-family: 'Montserrat', sans-serif;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
}

.footer > a {
  margin-bottom: 20px;
}

/* Hide regular navbar list on small screens */
@media (max-width: 600px) {
  .navbar_list {
    display: none;
  }

  /* Show the toggle button */
  .navbar_toggle-button {
    display: block;
    width: 50px;
  }

  /* Hide the dropdown menu initially */
  .navbar_dropdown {
    display: none;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
    top: 7px;
    right: 10px;
  }

  /* Show the dropdown menu when the button is clicked */
  .navbar_dropdown.show {
    display: block;
    overflow: visible;
    background-color: #fff;
  }

  .navbar_list-item:nth-child(n + 1) {
    margin-inline: 5px;

    margin-block: 5px;
  }
}

/* Show regular navbar list on larger screens */
@media screen and (min-width: 601px) {
  .navbar_list {
    display: flex;
  }

  /* Hide the toggle button */
  .navbar_toggle-button {
    display: none;
  }

  /* Hide the dropdown menu */
  .navbar_dropdown {
    display: none;
  }
}
