/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #ffffff;

}

.navbar {
  width: 100vw;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s ease-in-out;
  z-index: 10;
  background-color: #fff;
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1180px;
}

.navbar_name {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.25em;
  text-decoration: none;
}

.navbar_list {
  display: flex;
  list-style: none;
}

.navbar_link {
  font-size: 14px;
  text-decoration: none;
  letter-spacing: .125em;
  position: relative;
  text-decoration: none;
}

.navbar_list-item:nth-child(n + 2) {
  margin-left: 21px;
}

.about-intro {
  width: 100vw;
  height: 100vh;
  background-image: url(./img/hide-obara-z6lvPG4Oj4c-unsplash.jpg);
  background-size: cover;
  background-position-y: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-intro_overlay {
  background-color: #1a1f27;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.about-intro-content {
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 2;
}

.about-intro-content > h4 {
  margin-bottom: 25px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.about-intro-content > h1 {
  margin-bottom: 25px;
  font-size: 72px;
  font-weight: bold;
  color:#fff;
}

.about-intro-content > p {
  margin: 35px 40px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  max-width: 800px;
  color: rgba(255, 255, 255, 0.6);
}

.about-intro-button {
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ghost {
  color: #FDB827;
  border: 2px solid #FDB827;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.125em;
}

.btn-ghost:hover {
  opacity: 1;
}

.about-me_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.about-me_icon {
  display: flex;
  align-items: center;
  height: 55px;
}

.about-me_line {
  width: 2px;
  height: 40px;
  margin: 10px auto;
  background-color: #FDB827;
}

.about-me_heading {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 500;
  text-align: center;
}

.about-me_paragraph {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 90%;
  max-width: 400px;
  line-height: 1.5rem;
}

.about-me_tabs {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Tab style */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
  width: 100%;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bolder;
}

.tab button:hover {
  background-color: #FFCE76;
  color: #fff;
}

.tab button.active {
  background-color: #FDB827;
  color: #fff;
}

.all-tabs {
  text-align: center;
  margin-top: 48px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.tabcontent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 550px;
}

.about-tab_heading {
  margin: 10px auto;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  color: #000;
}

.about-tab_paragraph {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 90%;
  margin: 25px auto;
  color: #1a1f27;
  font-family: "Open Sans", sans-serif;
}
